<section class="homepage">
  <div class="page-width">
    <h1>Homepage layout coming soon ✨</h1>
    <p>Det här är din custom homepage-section.</p>
  </div>
</section>

{% schema %}
{
  "name": "Homepage",
  "settings": []
}
{% endschema %}